# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environments
.idea
.vscode

# User space - ignore custom user files
archive
events.yaml
credentials.json
token.json
user

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
